//Colors
$_red: #FF4343;
$_light_grey: #C6CBCD;
$_middle_grey: #6C7279;
$_grey: #808080;
$_white: #FFFFFF;
$_black: #2D3033;
$_violet: #7E5D6F;
$_blue: #353C65;
$_deep_blue: #2C3154;

//Font-size
$_main_font: 1.125rem; //18px
$_subtitle_font: 1.5rem; //24px
$_title_font: 4rem; //64px
$_nav_font: 0.8125rem; //13px
$_slider_font: 2.25rem; //36px
$_download_font: 1.875rem; //30px

//font-weight
$_regular: 400;
$_medium: 500;
$_bold: 700;
$_blck: 900;

$_border: 1px solid #BABBC5;