.cards {
	padding: 116px 0;
	background-color: $_white;
}
.card-wrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 88px 30px;

	@media (max-width:767px) {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(6, 1fr);	
		grid-gap: 42px;	
	}
	.card-col {
		justify-self: center;
		
		.card-icon {
			overflow: hidden;
			text-align: center;
			margin-bottom: 29px;

			& img {
				width: 6.25em; //100px
				height: 6.25em; //100px
				object-fit: cover;
				object-position: center;
			}
		}

		.card-title {
			justify-self: center;
			margin-bottom: 40px;
			@include card-title;
			text-align: center;
		}
		
		.card-text {
			text-align: center;
			@include card-text;
		}
	}
}
