.header {
	background-image: url(../img/BG_header.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 36px 0 120px;
	position: relative;
	
	&::after{
		content: '';
		width: 100%;
		height: 100%;
		background-color: rgba(37, 43, 73, 0.75);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}
	
	&-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 36px;
		margin-bottom: 129px;
		border-bottom: $_border;
	}
}

.logo {
	position: relative;
	z-index: 3;
}

.header_burger {
	display: none;

	@media (max-width: 767px) {
		display: block;
		position: relative;
		z-index: 3;
		width: 30px;
		height: 20px;
	}

	& span {
		position: absolute;
		left: 0;
		top: 9px;
		background-color: $_white;
		width: 100%;
		height: 2px;
		transition: all 0.3s ease 0s;
	}

	&::before, &::after {
		content: '';
		background-color: $_white;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		transition: all 0.3s ease 0s;
	}

	&::before {
		top: 0;
	}
	&::after {
		bottom: 0;
	}

	&.active::before {
		transform: rotate(45deg);
		top: 9px;
	}

	&.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	&.active span {
		transform: scale(0);
	}
}

.navigation {

	@media (max-width:767px) {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(37, 43, 73, 0.98);
		transition: all 0.3s ease 0s;

		&.active {
			top: 0;
		}
	}

	&_list {
		display: flex;
		position: relative;
		z-index: 2;

		@media (max-width:767px) {
			display: block;
			padding: 120px 0 0 0;	
		}
	}

	&_item {
		margin-left: 50px;
		@media (max-width:830px) {
			margin-left: 30px;
		}

		@media (max-width:767px) {
			margin-bottom: 52px;			
		}

		a {
			text-transform: uppercase;
			color: $_white;
			font-size: 13px;
			font-weight: $_bold;
		}

		a:hover {
			border-bottom: 2px solid #BABBC5;
			padding-bottom: 40px;
		}

		a:active {
			border-bottom: 2px solid #E71414;
			color: #E71414;
			padding-bottom: 40px;
		}
	}
}

.main-title {
   margin: 0 auto 31px;
	text-align: center;
	text-transform: uppercase;
	color: $_white;
	font-weight: $_blck;
	@include adaptiv-font(64, 36);
}
.main-text {
   margin: 0 auto 70px;
	
	p {
		text-align: center;
		color: $_white;
		@include adaptiv-font(24, 14);
		font-weight: $_regular;
	}
}
.main-btn {
	@include btn
}


